@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #a2bd9f;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(110deg, #dee9dc 60%, #a2bd9f 60%);
  background: -moz-linear-gradient(110deg, #dee9dc 60%, #a2bd9f 60%);
  background: -ms-linear-gradient(110deg, #dee9dc 60%, #a2bd9f 60%);
  background: -o-linear-gradient(110deg, #dee9dc 60%, #a2bd9f 60%);
  background: linear-gradient(110deg, #dee9dc 60%, #a2bd9f 60%);
}

body {
  background-color: rgba(193, 242, 184, 0);
  min-width: 300px;
  font-family: "Rubik", Verdana, Tahoma, sans-serif;
}

.lead {
  font-family: "Dancing Script", Verdana, Tahoma, sans-serif;
  font-size: 3rem;
  color: #80ac7c;
}
